In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, hour, dayofmonth, month, year, dayofweek, lit
from pyspark.sql.window import Window
from pyspark.sql.functions import row_number, when

In [7]:
spark = SparkSession.builder \
    .appName("Uber Data Analytics") \
    .getOrCreate()

In [9]:
df = spark.read.csv(r"D:\Uber Data Analytics\data\uber_data.csv", header=True, inferSchema=True)

In [10]:
df.show(5)

+--------+--------------------+---------------------+---------------+-------------+------------------+------------------+----------+------------------+------------------+------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|  pickup_longitude|   pickup_latitude|RatecodeID|store_and_fwd_flag| dropoff_longitude|  dropoff_latitude|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|
+--------+--------------------+---------------------+---------------+-------------+------------------+------------------+----------+------------------+------------------+------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
|       1| 2016-03-01 00:00:00|  2016-03-01 00:07:55|              1|          2.5|-73.97674560546875|40.765151977539055|         1|                 N|-74.00426483154298| 40.74612808227539|           1|        9.0|  0.5|    0.5|      2.05|         0.0|                  0.3|       12.35|
|       1| 2016-03-01 00:00:00|  2016-03-01 00:11:06|              1|          2.9|-73.98348236083984|40.767925262451165|         1|                 N|-74.00594329833984|  40.7331657409668|           1|       11.0|  0.5|    0.5|      3.05|         0.0|                  0.3|       15.35|
|       2| 2016-03-01 00:00:00|  2016-03-01 00:31:06|              2|        19.98|-73.78202056884764| 40.64480972290039|         1|                 N|-73.97454071044923|  40.6757698059082|           1|       54.5|  0.5|    0.5|       8.0|         0.0|                  0.3|        63.8|
|       2| 2016-03-01 00:00:00|  2016-03-01 00:00:00|              3|        10.78|-73.86341857910156|40.769813537597656|         1|                 N|-73.96965026855469|40.757766723632805|           1|       31.5|  0.0|    0.5|      3.78|        5.54|                  0.3|       41.62|
|       2| 2016-03-01 00:00:00|  2016-03-01 00:00:00|              5|        30.43|-73.97174072265625| 40.79218292236328|         3|                 N|-74.17716979980467| 40.69505310058594|           1|       98.0|  0.0|    0.0|       0.0|        15.5|                  0.3|       113.8|
+--------+--------------------+---------------------+---------------+-------------+------------------+------------------+----------+------------------+------------------+------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
only showing top 5 rows

In [11]:
# Convert datetime columns
df = df.withColumn("tpep_pickup_datetime", col("tpep_pickup_datetime").cast("timestamp")) \
       .withColumn("tpep_dropoff_datetime", col("tpep_dropoff_datetime").cast("timestamp"))

In [12]:
# Display the first 5 rows of the dataframe after conversion
df.show(5)

+--------+--------------------+---------------------+---------------+-------------+------------------+------------------+----------+------------------+------------------+------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|  pickup_longitude|   pickup_latitude|RatecodeID|store_and_fwd_flag| dropoff_longitude|  dropoff_latitude|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|
+--------+--------------------+---------------------+---------------+-------------+------------------+------------------+----------+------------------+------------------+------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
|       1| 2016-03-01 00:00:00|  2016-03-01 00:07:55|              1|          2.5|-73.97674560546875|40.765151977539055|         1|                 N|-74.00426483154298| 40.74612808227539|           1|        9.0|  0.5|    0.5|      2.05|         0.0|                  0.3|       12.35|
|       1| 2016-03-01 00:00:00|  2016-03-01 00:11:06|              1|          2.9|-73.98348236083984|40.767925262451165|         1|                 N|-74.00594329833984|  40.7331657409668|           1|       11.0|  0.5|    0.5|      3.05|         0.0|                  0.3|       15.35|
|       2| 2016-03-01 00:00:00|  2016-03-01 00:31:06|              2|        19.98|-73.78202056884764| 40.64480972290039|         1|                 N|-73.97454071044923|  40.6757698059082|           1|       54.5|  0.5|    0.5|       8.0|         0.0|                  0.3|        63.8|
|       2| 2016-03-01 00:00:00|  2016-03-01 00:00:00|              3|        10.78|-73.86341857910156|40.769813537597656|         1|                 N|-73.96965026855469|40.757766723632805|           1|       31.5|  0.0|    0.5|      3.78|        5.54|                  0.3|       41.62|
|       2| 2016-03-01 00:00:00|  2016-03-01 00:00:00|              5|        30.43|-73.97174072265625| 40.79218292236328|         3|                 N|-74.17716979980467| 40.69505310058594|           1|       98.0|  0.0|    0.0|       0.0|        15.5|                  0.3|       113.8|
+--------+--------------------+---------------------+---------------+-------------+------------------+------------------+----------+------------------+------------------+------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
only showing top 5 rows

In [13]:
# Remove duplicates
df = df.dropDuplicates()

In [14]:
# Create window specification
windowSpec = Window.orderBy(lit(1))

In [15]:
# Create datetime dimension
datetime_dim = df.select(
    "tpep_pickup_datetime",
    "tpep_dropoff_datetime",
    hour(col("tpep_pickup_datetime")).alias("pick_hour"),
    dayofmonth(col("tpep_pickup_datetime")).alias("pick_day"),
    month(col("tpep_pickup_datetime")).alias("pick_month"),
    year(col("tpep_pickup_datetime")).alias("pick_year"),
    dayofweek(col("tpep_pickup_datetime")).alias("pick_weekday"),
    hour(col("tpep_dropoff_datetime")).alias("drop_hour"),
    dayofmonth(col("tpep_dropoff_datetime")).alias("drop_day"),
    month(col("tpep_dropoff_datetime")).alias("drop_month"),
    year(col("tpep_dropoff_datetime")).alias("drop_year"),
    dayofweek(col("tpep_dropoff_datetime")).alias("drop_weekday")
).withColumn("datetime_id", row_number().over(windowSpec))

# Display the first 5 rows of datetime dimension
datetime_dim.show(5)

+--------------------+---------------------+---------+--------+----------+---------+------------+---------+--------+----------+---------+------------+-----------+
|tpep_pickup_datetime|tpep_dropoff_datetime|pick_hour|pick_day|pick_month|pick_year|pick_weekday|drop_hour|drop_day|drop_month|drop_year|drop_weekday|datetime_id|
+--------------------+---------------------+---------+--------+----------+---------+------------+---------+--------+----------+---------+------------+-----------+
| 2016-03-10 07:07:59|  2016-03-10 07:15:17|        7|      10|         3|     2016|           5|        7|      10|         3|     2016|           5|          1|
| 2016-03-10 07:08:05|  2016-03-10 07:22:06|        7|      10|         3|     2016|           5|        7|      10|         3|     2016|           5|          2|
| 2016-03-10 07:09:37|  2016-03-10 07:20:53|        7|      10|         3|     2016|           5|        7|      10|         3|     2016|           5|          3|
| 2016-03-10 07:14:12|  2016-03-10 07:19:22|        7|      10|         3|     2016|           5|        7|      10|         3|     2016|           5|          4|
| 2016-03-10 07:14:23|  2016-03-10 07:20:58|        7|      10|         3|     2016|           5|        7|      10|         3|     2016|           5|          5|
+--------------------+---------------------+---------+--------+----------+---------+------------+---------+--------+----------+---------+------------+-----------+
only showing top 5 rows

In [16]:
# Create dimensions with IDs
passenger_count_dim = df.select("passenger_count").distinct() \
    .withColumn("passenger_count_id", row_number().over(windowSpec))

In [17]:
# Create trip distance dimension
trip_distance_dim = df.select("trip_distance").distinct() \
    .withColumn("trip_distance_id", row_number().over(windowSpec))

In [18]:
# Display the first 5 rows of passenger count dimension
passenger_count_dim.show(5)

+---------------+------------------+
|passenger_count|passenger_count_id|
+---------------+------------------+
|              1|                 1|
|              6|                 2|
|              3|                 3|
|              5|                 4|
|              4|                 5|
+---------------+------------------+
only showing top 5 rows

In [19]:
# Display the first 5 rows of trip distance dimension
trip_distance_dim.show(5)

+-------------+----------------+
|trip_distance|trip_distance_id|
+-------------+----------------+
|        19.98|               1|
|        17.56|               2|
|         2.86|               3|
|         0.66|               4|
|        10.65|               5|
+-------------+----------------+
only showing top 5 rows

In [20]:
# Rate code dimension with human-readable names
rate_code_type = {
    1: "Standard rate",
    2: "JFK",
    3: "Newark",
    4: "Nassau or Westchester",
    5: "Negotiated fare",
    6: "Group ride"
}

In [21]:
rate_code_dim = df.select("RatecodeID").distinct() \
    .withColumn("rate_code_id", row_number().over(windowSpec)) \
    .withColumn("rate_code_name", when(col("RatecodeID").isin(list(rate_code_type.keys())),
                                       when(col("RatecodeID") == 1, "Standard rate")
                                       .when(col("RatecodeID") == 2, "JFK")
                                       .when(col("RatecodeID") == 3, "Newark")
                                       .when(col("RatecodeID") == 4, "Nassau or Westchester")
                                       .when(col("RatecodeID") == 5, "Negotiated fare")
                                       .when(col("RatecodeID") == 6, "Group ride")
                                       .otherwise("Unknown")
                                      ))

# Display the first 5 rows of rate code dimension
rate_code_dim.show(5)

+----------+------------+--------------------+
|RatecodeID|rate_code_id|      rate_code_name|
+----------+------------+--------------------+
|         1|           1|       Standard rate|
|         3|           2|              Newark|
|         5|           3|     Negotiated fare|
|         4|           4|Nassau or Westche...|
|         2|           5|                 JFK|
+----------+------------+--------------------+
only showing top 5 rows

In [22]:
# Create pickup location dimension
pickup_location_dim = df.select("pickup_longitude", "pickup_latitude").distinct() \
    .withColumn("pickup_location_id", row_number().over(windowSpec))

In [23]:
# Create dropoff location dimension
dropoff_location_dim = df.select("dropoff_longitude", "dropoff_latitude").distinct() \
    .withColumn("dropoff_location_id", row_number().over(windowSpec))

In [24]:
# Payment type dimension with human-readable names
payment_type_name = {
    1: "Credit card",
    2: "Cash",
    3: "No charge",
    4: "Dispute",
    5: "Unknown",
    6: "Voided trip"
}

In [25]:
payment_type_dim = df.select("payment_type").distinct() \
    .withColumn("payment_type_id", row_number().over(windowSpec)) \
    .withColumn("payment_type_name", when(col("payment_type").isin(list(payment_type_name.keys())),
                                         when(col("payment_type") == 1, "Credit card")
                                         .when(col("payment_type") == 2, "Cash")
                                         .when(col("payment_type") == 3, "No charge")
                                         .when(col("payment_type") == 4, "Dispute")
                                         .when(col("payment_type") == 5, "Unknown")
                                         .when(col("payment_type") == 6, "Voided trip")
                                         .otherwise("Unknown")
                                        ))

In [26]:
# Display the first 5 rows of payment type dimension
payment_type_dim.show(5)

+------------+---------------+-----------------+
|payment_type|payment_type_id|payment_type_name|
+------------+---------------+-----------------+
|           1|              1|      Credit card|
|           3|              2|        No charge|
|           4|              3|          Dispute|
|           2|              4|             Cash|
+------------+---------------+-----------------+

In [27]:
# Create a unique trip_id column for each trip
df = df.withColumn("trip_id", row_number().over(windowSpec))

In [28]:
# Create fact table by joining dimensions
fact_table = df.join(passenger_count_dim, "passenger_count") \
               .join(trip_distance_dim, "trip_distance") \
               .join(rate_code_dim, "RatecodeID") \
               .join(pickup_location_dim, ["pickup_longitude", "pickup_latitude"]) \
               .join(dropoff_location_dim, ["dropoff_longitude", "dropoff_latitude"]) \
               .join(datetime_dim, ["tpep_pickup_datetime", "tpep_dropoff_datetime"]) \
               .join(payment_type_dim, "payment_type") \
               .select(
                   "trip_id", "VendorID", "datetime_id", "passenger_count_id",
                   "trip_distance_id", "rate_code_id", "store_and_fwd_flag",
                   "pickup_location_id", "dropoff_location_id", "payment_type_id",
                   "fare_amount", "extra", "mta_tax", "tip_amount", "tolls_amount",
                   "improvement_surcharge", "total_amount"
               )

# Show the fact table
fact_table.show()

+-------+--------+-----------+------------------+----------------+------------+------------------+------------------+-------------------+---------------+-----------+-----+-------+----------+------------+---------------------+------------+
|trip_id|VendorID|datetime_id|passenger_count_id|trip_distance_id|rate_code_id|store_and_fwd_flag|pickup_location_id|dropoff_location_id|payment_type_id|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|
+-------+--------+-----------+------------------+----------------+------------+------------------+------------------+-------------------+---------------+-----------+-----+-------+----------+------------+---------------------+------------+
|      1|       2|          1|                 3|            1473|           1|                 N|             22300|              20073|              1|        7.5|  0.0|    0.5|       1.0|         0.0|                  0.3|         9.3|
|      2|       2|          2|                 6|            1249|           1|                 N|              6827|               1846|              4|       11.5|  0.0|    0.5|       0.0|         0.0|                  0.3|        12.3|
|      3|       2|          3|                 1|             397|           1|                 N|              4312|              16749|              1|       10.0|  0.0|    0.5|      2.16|         0.0|                  0.3|       12.96|
|      4|       2|          4|                 2|            1028|           1|                 N|              5476|               7449|              4|        6.0|  0.0|    0.5|       0.0|         0.0|                  0.3|         6.8|
|      5|       2|          5|                 6|            1490|           1|                 N|             20035|              13020|              4|        8.0|  0.0|    0.5|       0.0|         0.0|                  0.3|         8.8|
|      6|       2|          6|                 1|             576|           1|                 N|              3672|                555|              1|       17.5|  0.0|    0.5|      3.66|         0.0|                  0.3|       21.96|
|      7|       2|          7|                 1|            1331|           1|                 N|              6475|               9177|              4|        3.5|  0.0|    0.5|       0.0|         0.0|                  0.3|         4.3|
|      8|       2|          8|                 6|            1078|           1|                 N|             21901|              21643|              1|        4.5|  0.0|    0.5|      1.06|         0.0|                  0.3|        6.36|
|      9|       2|          9|                 2|              13|           1|                 N|             12950|              23304|              1|        7.5|  0.0|    0.5|       0.0|         0.0|                  0.3|         8.3|
|     10|       2|         10|                 3|            1313|           1|                 N|             19247|              16764|              4|       13.0|  0.0|    0.5|       0.0|         0.0|                  0.3|        13.8|
|     11|       2|         11|                 6|            1379|           1|                 N|             15310|               1088|              1|       15.0|  0.0|    0.5|       2.0|         0.0|                  0.3|        17.8|
|     12|       2|         12|                 2|            1016|           1|                 N|             25471|               4381|              1|        6.0|  0.0|    0.5|      1.36|         0.0|                  0.3|        8.16|
|     13|       2|         13|                 6|            1490|           1|                 N|             12821|              23178|              1|       10.5|  0.0|    0.5|      3.39|         0.0|                  0.3|       14.69|
|     14|       2|         14|                 6|            1023|           1|                 N|             12431|              11791|              1|       14.5|  0.0|    0.5|      3.82|         0.0|                  0.3|       19.12|
|     15|       2|         15|                 1|            1399|           1|                 N|              2771|               2752|              4|       11.0|  0.0|    0.5|       0.0|         0.0|                  0.3|        11.8|
|     16|       2|         16|                 1|            1195|           1|                 N|             12167|              11792|              1|        8.0|  0.0|    0.5|      1.76|         0.0|                  0.3|       10.56|
|     17|       2|         17|                 1|            1031|           1|                 N|              8014|              19569|              4|        2.5|  0.0|    0.5|       0.0|         0.0|                  0.3|         3.3|
|     18|       2|         18|                 4|            1351|           1|                 N|             11146|               9200|              4|       31.0|  0.0|    0.5|       0.0|         0.0|                  0.3|        31.8|
|     19|       2|         19|                 1|             761|           1|                 N|              7515|              20359|              1|       14.0|  0.0|    0.5|      2.96|         0.0|                  0.3|       17.76|
|     20|       2|         20|                 1|              13|           1|                 N|             10360|              19714|              4|       10.0|  0.0|    0.5|       0.0|         0.0|                  0.3|        10.8|
+-------+--------+-----------+------------------+----------------+------------+------------------+------------------+-------------------+---------------+-----------+-----+-------+----------+------------+---------------------+------------+
only showing top 20 rows